{% extends "bootstrap/base.html" %}

{% block title %}{{ config["BLOG_NAME"] }}{% endblock %}

{% block head %}
{{ super() }}
<meta name="viewport" content="width=device-width, initial-scale=1" />
{% endblock %}

{% block navbar %}
{{ super() }}
<div class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      {# A button for small devices #}
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {# Brand Mark #}
      <a class="navbar-brand" href="{{ url_for("blogs.home") }}">{{ config["BLOG_NAME"] }}</a>
    </div>

    {# Navbar contents #}
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-right">
        <li><a href="/">Blog</a></li>
        {% for nav_item in config["NAV_ITEMS"] %}
        <li><a href="{{ nav_item["link"] }}" {%- if nav_item.get("new_window", False) -%}target="_blank"{%- endif -%} >{{ nav_item["name"] }}</a></li>
        {% endfor %}
      </ul>

    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
  {% block page_content %}{% endblock %}
</div>
{% endblock %}
