{% extends "base.html" %}

{% block page_content %}
<div class="row">
  <div class="container">
    <ul class="post-list">
      <li class="post-list-item">
        <div class="row">
          <div class="col-sm-9 col-xs-12">
            <strong>Blog Posts</strong>
          </div>
          <div class="col-sm-3 col-xs-12 text-right">
            <a class="btn btn-default btn-sm" href="{{ url_for("control_panel.new_post") }}">Write new post</a>
          </div>
        </div>
      </li>
    {% for post in posts %}
      <li class="post-list-item">
        <div class="container">
          <div class="row"><a href="{{ url_for("blogs.post", post_id=post.id) }}">{{ post.title }}</a></div>
          <div class="row">
            <a class="btn btn-default btn-xs" href="{{ url_for("control_panel.edit_post", id=post.id) }}">Edit</a>
            <a class="btn btn-default btn-xs" href="javascript:deletePost({{ post.id }});">Delete</a>
          </div>
        </div>
      </li>
    {% endfor %}
      
      
    {% set service_name = "blogs.post_list" %}
      <li class="post-list-item">
        <nav>
          <ul class="pagination pagination-sm">

            {% call pagination_post_list_side_item(page_num == 1 or page_total == 0, service_name, page_num - 1, "Previous", "<") %}
            {% endcall %}

            {% if page_total <= 10 %}
              {% for pg in range(page_total) %}
                {% call pagination_post_list_item(page_num, service_name, pg + 1) %}
                {% endcall %}
              {% endfor %}
            {% elif page_num < 5 %}
              {% for pg in range(10) %}
                {% call pagination_post_list_item(page_num, service_name, pg + 1) %}
                {% endcall %}
              {% endfor %}
            {% else %}
              {% for pg in range(page_total) %}
                {% call pagination_post_list_item(page_num, service_name, pg - 4) %}
                {% endcall %}
              {% endfor %}
            {% endif %}

            {% call pagination_post_list_side_item(page_num == page_total or page_total == 0, service_name, page_num + 1, "Next", ">") %}
            {% endcall %}

          </ul>
        </nav>
      </li>
    </ul>
  </div>
</div>
<div class="row">

</div>
{% endblock %}


