ul.post-list {
  list-style: none;
  font-size: 130%;
  font-weight: 200;
  padding: 0;
}

.post-list-item {
  border-top: 1px dashed #ccc;
  padding: 0.4em 0.24em;
}

ul.post-list > :first-child {
  border-top: None
}

#blog-body {
  font-size: 110%;
}

#blog-body h1 {
  font-size: 150%;
}

#blog-body h2 {
  font-size: 135%;
}

#blog-body h3 {
  font-size: 120%;
}

#blog-body h4 {
  font-size: 110%;
}

#blog-body h5 {
  font-size: 105%;
}